.block {
    width: 48%;
    height: 48%;
    float: left;
}

body {
    background-color: black;
    color: white;
}

.v10szoveg {
    text-align: right;
     text-align: justify;
     font-size: 200%;
}

h2 {
    font-size: 300%;
}

.r8body {
    float: left;
}

h1 {
    font-size: 350%;
}