.header1 {
    background-color: black;
}

body {
    background-image: url(audi\ logo\ 2.png);
   background-repeat: repeat-x;
   background-size: 100px;
   background-color: gray;
}

.a5 {
    width: 50%;
    float: left;
}

.a8 {
    width: 50%;
}

.q3 {
    width: 48%;
    float: left;
}

.q7 {
    width: 50%;
}

.ajanlat {
    padding-top: 60px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 350%;
}

#a5 {
    padding-top: 60px;
    text-align: center;
    font-size: 240%;
}