.header1 {
    background-color: black;
}



body {
    background-image: url(audi\ logo\ 2.png);
   background-repeat: repeat-x;
   background-size: 100px;
   background-color: gray;
}

.a5 {
    width: 50%;
    float: left;
    
}
.a5:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

.a8 {
    width: 50%;
}

.a8:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

.q3 {
    width: 48%;
    float: left;
}

.q3:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

.q7 {
    width: 50%;
}

.q7:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

.ajanlat {
    padding-top: 60px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 350%;
}

#all {
    padding-top: 60px;
    text-align: center;
    font-size: 290%;
    color: black;
    text-decoration: underline;
}

.tableaall, td, tr, th {
    border: 4px solid ;
    border-collapse: collapse;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
}

.tableaall {
    margin: auto;
    font-size: 300%;
}

th {
    font-weight: bolder;
    font-style: italic;
}

.imga5a {
    width: 70%;
    align-items: center;
    padding-left: 128px;
}

.imga5l {
    width: 80%;
    align-items: center;
    padding-left: 95px;
}

.imgs5a {
    width: 80%;
    align-items: center;
    padding-left: 90px;
}

.imgs5l {
    width: 75%;
    align-items: center;
    padding-left: 115px;
}

.imga8c {
    width: 78%;
    align-items: center;
    padding-left: 100px;
}

.imga8l {
    width: 82%;
    align-items: center;
    padding-left: 60px;
}

.imgs8c {
    width: 80%;
    align-items: center;
    padding-left: 70px;
}

.imgs8l {
    width: 86%;
    align-items: center;
    padding-left: 60px;
}

.imgq3 {
    width: 90%;
    align-items: center;
    padding-left: 40px;
}

.imgq3sport {
    width: 90%;
    align-items: center;
    padding-left: 40px;
}

.imgsq3 {
    width: 108%;
    align-items: center;
}

.imgrsq3 {
    width: 110%;
    align-items: center
}